out/*
src/com/marketoolz/ella/classes
src/com/marketoolz/ella/__Test___input.txt
.classpath
.project
Ella.vpdm
backup.bzr
oldlib
test-output
timings
vpproject
src/*.grn
src/Test.java
*.essModel
ella.properties
ella.xml
./cfg/*.local
target/*
